In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_excel('C:/Users/anipatel/Downloads/Projects/CTF/CTF v104/V104_CTF.xlsx')

In [5]:
df

,jobid,ruleid,rulename,placeid,poiname,xfailed,triggered,status,failuremessage,successmessage,...,Url 1,Url 2,Error found in,Changes required in,Changes to be made,Ticket,Restaple,Unnamed: 24,Unnamed: 25,Commit link
0,210526_unencumbered_validated_V104,9314.0,nameCheck,616u3594-dfd5da8a5ac7481cbab76d3cbdf97e0c,Ksiaz,False,True,FAIL,Name/LangCode/Primary Name not found -> Hotel...,NaN,...,NaN,NaN,NaN,NaN,GCOGPP-5692,https://jiraweb.it.here.com/browse/GCOGPP-5692,No,NaN,NaN,https://gerrit.it.here.com/#/c/1534465/
1,210526_unencumbered_validated_V104,9365.0,nameCheck,616u3h4s-528d9c8212174abe8ac7b4883d3a9b3d,Zoo Wejście od Odry,False,True,FAIL,Name/LangCode/Primary Name not found -> Zoo/en;,NaN,...,https://www.zoo.wroclaw.pl/,NaN,NaN,NaN,MPP-9623,https://jiraweb.it.here.com/browse/MPP-9623,No,NaN,NaN,NaN
2,210526_unencumbered_validated_V104,14092.0,nonExistence,360xjxn4-f8bce5d7711c011acceb8c9f90cf1e96,SD Negeri Malabar,False,True,FAIL,NaN,"found place, which should not be exist",...,https://goo.gl/maps/xBUZ9A6o7iG66YHw7,NaN,NaN,NaN,MPP-9624,https://jiraweb.it.here.com/browse/MPP-9624,No,NaN,NaN,NaN
3,210526_unencumbered_validated_V104,14118.0,nonExistence,360qqu5d-92de4b55ea78431a8318df339bfaf83f,SD Islam Terpadu Tunas Islam Global,False,True,FAIL,NaN,"found place, which should not be exist",...,NaN,NaN,NaN,NaN,MPP-9624,https://jiraweb.it.here.com/browse/MPP-9624,No,NaN,NaN,NaN
4,210526_unencumbered_validated_V104,14119.0,nonExistence,360qqggy-f8a34c9d89534f2eb4b3df269587dcfd,SD Desa Putera,False,True,FAIL,NaN,"found place, which should not be exist",...,NaN,NaN,NaN,NaN,MPP-9624,https://jiraweb.it.here.com/browse/MPP-9624,No,NaN,NaN,NaN
5,210526_unencumbered_validated_V104,14128.0,nonExistence,360qw8nv-0242569ed0134eb6812a22d5e363c7bc,Sdi Roudlotul Ulum,False,True,FAIL,NaN,"found place, which should not be exist",...,NaN,NaN,NaN,NaN,MPP-9624,https://jiraweb.it.here.com/browse/MPP-9624,No,NaN,NaN,NaN
6,210526_unencumbered_validated_V104,14143.0,nonExistence,360qquhf-7dffd4f13630442a935eb9033581a34b,Zametterr,False,True,FAIL,NaN,"found place, which should not be exist",...,NaN,NaN,NaN,NaN,MPP-9624,https://jiraweb.it.here.com/browse/MPP-9624,No,NaN,NaN,NaN
7,210526_unencumbered_validated_V104,14216.0,nonExistence,360w0whk-06490edaa21a427ea7c46be39f2c86c5,SD Negeri 060882,False,True,FAIL,NaN,"found place, which should not be exist",...,NaN,NaN,NaN,NaN,MPP-9624,https://jiraweb.it.here.com/browse/MPP-9624,No,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,ruleid,rulename,placeid,poiname,xfailed,triggered,status,failuremessage,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,9365,nameCheck,616u3h4s-528d9c8212174abe8ac7b4883d3a9b3d,Zoo Wejście od Odry,False,True,FAIL,Name/LangCode/Primary Name not found -> Zoo/en;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,ruleid,placeid,poiname,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,14092,360xjxn4-f8bce5d7711c011acceb8c9f90cf1e96,SD Negeri Malabar,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,14118,360qqu5d-92de4b55ea78431a8318df339bfaf83f,SD Islam Terpadu Tunas Islam Global,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,14119,360qqggy-f8a34c9d89534f2eb4b3df269587dcfd,SD Desa Putera,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,14128,360qw8nv-0242569ed0134eb6812a22d5e363c7bc,Sdi Roudlotul Ulum,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,14143,360qquhf-7dffd4f13630442a935eb9033581a34b,Zametterr,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,14216,360w0whk-06490edaa21a427ea7c46be39f2c86c5,SD Negeri 060882,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.head()

,jobid,ruleid,rulename,placeid,poiname,xfailed,triggered,status,failuremessage,successmessage,...,Url 1,Url 2,Error found in,Changes required in,Changes to be made,Ticket,Restaple,Unnamed: 24,Unnamed: 25,Commit link
0,210526_unencumbered_validated_V104,9314.0,nameCheck,616u3594-dfd5da8a5ac7481cbab76d3cbdf97e0c,Ksiaz,False,True,FAIL,Name/LangCode/Primary Name not found -> Hotel...,NaN,...,NaN,NaN,NaN,NaN,GCOGPP-5692,https://jiraweb.it.here.com/browse/GCOGPP-5692,No,NaN,NaN,https://gerrit.it.here.com/#/c/1534465/
1,210526_unencumbered_validated_V104,9365.0,nameCheck,616u3h4s-528d9c8212174abe8ac7b4883d3a9b3d,Zoo Wejście od Odry,False,True,FAIL,Name/LangCode/Primary Name not found -> Zoo/en;,NaN,...,https://www.zoo.wroclaw.pl/,NaN,NaN,NaN,MPP-9623,https://jiraweb.it.here.com/browse/MPP-9623,No,NaN,NaN,NaN
2,210526_unencumbered_validated_V104,14092.0,nonExistence,360xjxn4-f8bce5d7711c011acceb8c9f90cf1e96,SD Negeri Malabar,False,True,FAIL,NaN,"found place, which should not be exist",...,https://goo.gl/maps/xBUZ9A6o7iG66YHw7,NaN,NaN,NaN,MPP-9624,https://jiraweb.it.here.com/browse/MPP-9624,No,NaN,NaN,NaN
3,210526_unencumbered_validated_V104,14118.0,nonExistence,360qqu5d-92de4b55ea78431a8318df339bfaf83f,SD Islam Terpadu Tunas Islam Global,False,True,FAIL,NaN,"found place, which should not be exist",...,NaN,NaN,NaN,NaN,MPP-9624,https://jiraweb.it.here.com/browse/MPP-9624,No,NaN,NaN,NaN
4,210526_unencumbered_validated_V104,14119.0,nonExistence,360qqggy-f8a34c9d89534f2eb4b3df269587dcfd,SD Desa Putera,False,True,FAIL,NaN,"found place, which should not be exist",...,NaN,NaN,NaN,NaN,MPP-9624,https://jiraweb.it.here.com/browse/MPP-9624,No,NaN,NaN,NaN

In [17]:
df.tail()

,jobid,ruleid,rulename,placeid,poiname,xfailed,triggered,status,failuremessage,successmessage,...,Url 1,Url 2,Error found in,Changes required in,Changes to be made,Ticket,Restaple,Unnamed: 24,Unnamed: 25,Commit link
16,NaN,NaN,14118,360qqu5d-92de4b55ea78431a8318df339bfaf83f,SD Islam Terpadu Tunas Islam Global,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,14119,360qqggy-f8a34c9d89534f2eb4b3df269587dcfd,SD Desa Putera,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,14128,360qw8nv-0242569ed0134eb6812a22d5e363c7bc,Sdi Roudlotul Ulum,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,14143,360qquhf-7dffd4f13630442a935eb9033581a34b,Zametterr,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,14216,360w0whk-06490edaa21a427ea7c46be39f2c86c5,SD Negeri 060882,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.shape

(21, 27)

In [19]:
df.columns

Index(['jobid', 'ruleid', 'rulename', 'placeid', 'poiname', 'xfailed',
       'triggered', 'status', 'failuremessage', 'successmessage', 'ruledata',
       'description', 'xfailticket', 'cqs', 'version', 'Supplier', 'Comment',
       'Url 1', 'Url 2', 'Error found in', 'Changes required in',
       'Changes to be made', 'Ticket', 'Restaple', 'Unnamed: 24',
       'Unnamed: 25', 'Commit link'],
      dtype='object')

In [20]:
df.dtypes

jobid                   object
ruleid                 float64
rulename                object
placeid                 object
poiname                 object
xfailed                 object
triggered               object
status                  object
failuremessage          object
successmessage          object
ruledata                object
description             object
xfailticket            float64
cqs                    float64
version                 object
Supplier                object
Comment                 object
Url 1                   object
Url 2                  float64
Error found in         float64
Changes required in    float64
Changes to be made      object
Ticket                  object
Restaple                object
Unnamed: 24            float64
Unnamed: 25            float64
Commit link             object
dtype: object

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   jobid                8 non-null      object
 1   ruleid               8 non-null      float64
 2   rulename             17 non-null     object
 3   placeid              17 non-null     object
 4   poiname              17 non-null     object
 5   xfailed              10 non-null     object
 6   triggered            10 non-null     object
 7   status               10 non-null     object
 8   failuremessage       4 non-null      object
 9   successmessage       8 non-null      object
 10  ruledata             3 non-null      object
 11  description          10 non-null     object
 12  xfailticket          0 non-null      float64
 13  cqs                  8 non-null      float64
 14  version              8 non-null      object
 15  Supplier             8 non-null      object
 16  Comment              8 non-null      object
 17  Url 1                2 non-null      object
 18  Url 2                0 non-null      float64
 19  Error found in       0 non-null      float64
 20  Changes required in  0 non-null      float64
 21  Changes to be made   8 non-null      object
 22  Ticket               8 non-null      object
 23  Restaple             8 non-null      object
 24  Unnamed: 24          0 non-null      float64
 25  Unnamed: 25          0 non-null      float64
 26  Commit link          1 non-null      object
dtypes: float64(8), object(19)
memory usage: 4.6+ KB

In [24]:
placeid_df = df['placeid']

In [25]:
placeid_df

0     616u3594-dfd5da8a5ac7481cbab76d3cbdf97e0c
1     616u3h4s-528d9c8212174abe8ac7b4883d3a9b3d
2     360xjxn4-f8bce5d7711c011acceb8c9f90cf1e96
3     360qqu5d-92de4b55ea78431a8318df339bfaf83f
4     360qqggy-f8a34c9d89534f2eb4b3df269587dcfd
5     360qw8nv-0242569ed0134eb6812a22d5e363c7bc
6     360qquhf-7dffd4f13630442a935eb9033581a34b
7     360w0whk-06490edaa21a427ea7c46be39f2c86c5
8                                           NaN
9                                           NaN
10                                          NaN
11                                     rulename
12                                    nameCheck
13                                          NaN
14                                      placeid
15    360xjxn4-f8bce5d7711c011acceb8c9f90cf1e96
16    360qqu5d-92de4b55ea78431a8318df339bfaf83f
17    360qqggy-f8a34c9d89534f2eb4b3df269587dcfd
18    360qw8nv-0242569ed0134eb6812a22d5e363c7bc
19    360qquhf-7dffd4f13630442a935eb9033581a34b
20    360w0whk-06490edaa21a427ea7c46be39f2c86c5
Name: placeid, dtype: object

In [ ]:
# subset_df = df[['Place_Id', 'URL 1', 'URL 2']]

In [ ]:
# subset_df.head()

In [ ]:
# df.loc[1]

In [ ]:
# df.loc[49]

In [ ]:
# df.tail(n=1)

In [ ]:
# df.iloc[-1]
#With  iloc, we can pass in the -1 to get the last row, Something we couldn't do with loc

In [ ]:
# df.loc[[0,13,39]]

In [ ]:
# df.tail(n=3)

In [ ]:
# df.iloc[[1,15,-1]]

In [27]:
# subset = df.loc[:, ["Place_Id","URL 1", "URL 2"]]
# subset

In [ ]:
df1 = pd.read_excel('C:/Users/anipatel/Downloads/Projects/XPath/XPath_V64_Airport_Attr_Add_Update_Drop.xlsx', sheet_name = 'Airport_Attr_Add_Update_Drop')
df1.head()

In [15]:
print(df.iloc[5:10, [0]])

                                jobid
5  210526_unencumbered_validated_V104
6  210526_unencumbered_validated_V104
7  210526_unencumbered_validated_V104
8                                 NaN
9                                 NaN

In [ ]:
df.groupby("Place_Id")['Operation'].sum()

In [ ]:
df.head(2)

In [ ]:
multigroup = df.groupby(["Operation",'Place_Id'])['Contributor\'s Name'].count()

In [ ]:
multigroup

In [ ]:
flat = multigroup.reset_index()
flat

In [ ]:
uiqueset = df1.groupby('placeid')['countername'].nunique()
uiqueset

In [ ]:
uiqueset.plot()

##### Visual Representaion of Data

Histogram - Vertical bar chart of fequencies <br>
Frequency Polygon - line graph of frequencies <br>
Ogive - line graph of cumulative frequencies <br>
Pie chart - proposonal representaion of a categories as a whole <br>
Stem and Leaf plot <br>
Pareto Chart <br>
Scatter plot <br>

#### Measures of Central Tendency
Measures of Central tendency yield information about "particular places or locations in a group of numbers".<br>
A single number to describe the characterestics of a set data <br>

##### central tendency or measures of location 
Arithmetic mean <br>
Weighted mean <br>
Median <br>
Percentile <br>

##### Dispersion 
In statistics, dispersion is the extent to which a distribution is stretched or squeezed. Common examples of measures of statistical dispersion are the variance, standard deviation, and interquartile range. <br>
###### Skewness <br>
    -Absence of symmetry
    -Extreme values in one side of a distribution
    Skewed right - Median lies between mode and mean, and mode is less than mean 
    Skewed left - Median lies between mode and mean, and is greater than mean 
    
###### Kurtosis <br>
    Peakedness of a distribution 
    -Leptokurtic : high and thin 
    -Mesokurtic : normal shape 
    -Platykurtic : flat and spread out 
###### Box and Whisker Plots <br>
    -Graphic display of a distribution 
    -Reveals skewness
   
Range <br>
Interquartile range <br>
Variance <br>
Standard score <br>
Coefficient of variation

In [ ]:
np.mean(df)

In [ ]:
import scipy 
from scipy import stats 
stats.mode(df)

###### Percentile

In [ ]:
a = [1,3,5,6,8,5,4,3,2,5,6,7,12,42,60,50,30]
a = np.sort(a)
print(a)
p = np.percentile(a,100)
p

In [ ]:
f = open("Downloads/supplier_visibility_profiles.txt")
img = f.read(100)
print(img)
img = f.readline()
print(img)
f.close()

In [ ]:
f = open("Downloads/supplier_visibility_profiles.txt")
print(f.readline())
print(f.readline())
print(f.readline())


f.close()

In [ ]:
f = open("Downloads/test1.txt","w+")
f.write("Downloads supplier_visibility_profile ")
print(f.readline())
f.close()

In [14]:
a = [1,3,5,6,8,67,4,3,28,5,99]
a = np.sort(a)
print(a)
q1 = np.percentile(a,20)
q2 = np.percentile(a,50)
q3 = np.percentile(a,80)
#Inter Quartile range
q = q3-q1
print(q1)
print(q2)
print(q3)

print(q)
np.mean(a)

[ 1  3  3  4  5  5  6  8 28 67 99]
3.0
5.0
28.0
25.0

20.818181818181817

In [ ]:
np.var(a)

In [ ]:
sum(a)
import statistics as stat
stat.pstdev(a)

In [ ]:
stat.stdev(a)

In [ ]:
np.std(a)

In [ ]:
from scipy.stats import skew
skew(a)

In [ ]:
#Box and Whisker plot
from matplotlib import pyplot as plt
plt.boxplot(a, sym="*")
plt.show()
#left skewed data

## Probability

- Probability is the numerical measure of the likelihood that an event will occur. <br>
- 0<= P(A) <=1 <br>
- Probabilities of all mutually exclusive and collectively exhaustive events is 1. <br>
- P(A) + P(B) + P(C) = 1 <br>

### Methods of Assigning Probabilities 
##### Classical method of assigning brobability (rules and laws) 
    -Number of outcomes leading to the event divided by the total number of outcomes possible
    -Determined a priori -- before performing the experiment
    - P(E) = n/N 
##### Relative frequency of occurence (cumulated historical data) 
    -Based on historical data 
    -Number of times the event occured divided by the number of trails
    
##### Subjective Probability (personl intution or reasoning)
    -comes from a person's intuition or reasoning 
    -based on degree of belief

Experiment<br>

Event<br>

Elementary Events<br>

Sample Space<br>

Unions and Intersections<br>

Mutually Exclusive Events<br>

Independent Events<br>

Collectively Exhaustive Events <br>

Complementary Events <br>